<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{titulo}}</mat-card-title>
            <mat-card-subtitle>{{precio}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://images.prismic.io/encurva/7e27900e-b16c-455e-89a2-bb296ee1564c_cuanto-cuesta-recargar-vehiculo-electrico-1.jpeg?auto=compress,format&rect=0,13,600,375&w=800&h=500"
            alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Un vehículo eléctrico, o VE, es un tipo de automóvil que se impulsa mediante la electricidad en
                lugar de depender de combustibles fósiles como la gasolina o el diésel. Estos vehículos utilizan
                baterías recargables para almacenar la energía eléctrica que alimenta su motor. Los vehículos
                eléctricos son una opción amigable con el medio ambiente, ya que no emiten gases de escape nocivos
                y contribuyen a la reducción de la contaminación del aire y la dependencia de los recursos no
                renovables.
            </p>
        </mat-card-content>
    </mat-card>

</div>