.container {
    margin: 40px;
  }
  
  .opciones-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .editar-button,
  .eliminar-button {
    margin: 0;
  }
  
  .botones {
    margin-top: 0%;
    margin-right: auto;
    padding: 8px;
    display: flex;
  }
  
  .botones button {
    border-radius: 4px;
    background-color: #60A685;
    color: #264134;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }

  .comprar button{
    margin-left: 4rem;
  }

.comprar button:disabled {
  background-color: #ccc; 
  color: #888; 
  cursor: not-allowed; 
}

  
  .title {
    color: #264134;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  table {
    width: 90%;
    margin:1rem auto;
 }

 .contenedor {
    display: flex;
    flex-direction: column;
    margin-top:1rem auto;
    max-width: 300px;
    padding: 1rem;
    padding-left: 0%;
}   