<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lolabum - Marketplace de Vehículos Eléctricos</title>
</head>

<body>
    <header>
        <div class="header-content">
            <img src="https://i.imgur.com/Jeym2rL.png" width="300" height="300">
        </div>
    </header>
    <div class="container">
        <section class="info">
            <div class="whatis">
                <h2>¿Qué es un Vehículo Eléctrico?</h2>
                <p>Un vehículo eléctrico es un automóvil propulsado por uno o más motores eléctricos que utilizan
                    energía
                    almacenada en baterías recargables. A diferencia de los vehículos tradicionales con motores de
                    combustión interna, los vehículos eléctricos no emiten gases de escape nocivos.</p>
            </div>
            <div>
                <h2>Ventajas de los Vehículos Eléctricos</h2>
                <ul>
                    <li>Amigables con el Medio Ambiente: Los vehículos eléctricos reducen las emisiones de carbono y
                        contribuyen a la lucha contra el cambio climático.</li>
                    <li>Ahorro de Combustible: Los costos de carga de electricidad suelen ser más bajos que el
                        combustible
                        tradicional.</li>
                    <li>Rendimiento Silencioso: Los motores eléctricos funcionan de manera silenciosa y suave.</li>
                    <li>Menor Mantenimiento: Menos piezas móviles significa menos mantenimiento y costos reducidos.</li>
                </ul>
            </div>
        </section>

        <section class="hero">
            <div class="hero-content">
                <h2>Descubre la Revolución de los Vehículos Eléctricos</h2>
                <p>Explora una nueva forma de conducir, más limpia y sostenible, con vehículos eléctricos.</p>
                <a href="/vehiculos" class="cta-button">Explora nuestro catálogo</a>
            </div>
            <div class="carrusel">
                <div class="gallery">
                    <img src="https://i.imgur.com/cULIf4W.jpeg" alt="Imagen 1">
                    <img src="https://i.imgur.com/AUdQXDO.jpeg" alt="Imagen 2">
                    <img src="https://i.imgur.com/KgJRaWy.jpeg" alt="Imagen 3">
                    <img src="https://i.imgur.com/A3KHXrD.jpeg" alt="Imagen 4">
                    <img src="https://i.imgur.com/rZXYA6S.png" alt="Imagen 5">
                  </div>
            </div>
        </section>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2023 Lolabum. Todos los derechos reservados.</p>
        </div>
    </footer>
    
</body>

</html>