.container {
    margin: 40px;
  }
  
  .opciones-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .editar-button,
  .eliminar-button {
    margin: 0;
  }
  
  .crear {
    margin-top: 40px;
    margin-right: auto;
    padding: 8px;
  }
  
  .crear button {
    border-radius: 4px;
    background-color: #60A685;
    color: #264134;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  .title {
    color: #264134;
  }
  
  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }


/* Estilo para el contenedor */
.contenedor {
  width: 50%; /* El 50% del ancho de la ventana gráfica */
  margin: 0; /* Sin margen en la parte superior e inferior */
  padding: 0; /* Sin relleno en la parte superior e inferior */
  display: flex;
  justify-content: flex-start; /* Alineación del contenido a la izquierda */
}

.contenedor  mat-form-field{
  margin-right:3rem;
}



