<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="categoria">
        <mat-icon>category</mat-icon>
        CATEGORIAS
      </a>
      <a mat-list-item href="clientes">
        <mat-icon>people</mat-icon>
        CLIENTES
      </a>
      <a mat-list-item href="concesionarios">
        <mat-icon>business</mat-icon>
        CONCESIONARIOS
      </a>
      <a mat-list-item href="empleados">
        <mat-icon>work</mat-icon>
        EMPLEADOS
      </a>
      <a mat-list-item href="facturas">
        <mat-icon>receipt</mat-icon>
        FACTURAS
      </a>
      <a mat-list-item href="pedidos">
        <mat-icon>shopping_cart</mat-icon>
        PEDIDOS
      </a>
      <a mat-list-item href="personas">
        <mat-icon>person</mat-icon>
        PERSONAS
      </a>
      <a mat-list-item href="vehiculos">
        <mat-icon>directions_car</mat-icon>
        VEHICULOS
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>lolabum-angular <a><img src="https://i.imgur.com/2jpWGQa.png" width="60" height="60"></a></span>
      <div class="icon">
          <button mat-button [matMenuTriggerFor]="menu" ><ngx-avatars bgColor="#A1BDBF" class="ngx-icon" name="{{nombre}}"></ngx-avatars></button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="cerrarSesion()">Cerrar sesión</button>
          </mat-menu>
      </div>    
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>